/**
 * Helpers
 */

.mt-1 {
  margin-top: $spacing !important;
}

.mt-2 {
  margin-top: calc($spacing * 2) !important;
}

.mt-3 {
  margin-top: calc($spacing * 3) !important;
}

.mt-4 {
  margin-top: calc($spacing * 4) !important;
}

.mb-1 {
  margin-bottom: $spacing !important;
}

.mb-2 {
  margin-bottom: calc($spacing * 2) !important;
}

.mb-3 {
  margin-bottom: calc($spacing * 3) !important;
}

.mb-4 {
  margin-bottom: calc($spacing * 4) !important;
}
