/**
 * Variables
 */


/**
 * Rem settings
 */
$rem-size: 10px;


/**
 * Colors
 */

$white: #fff;
$black: #000;

/**
 * $colors map.
 */
$colors: (
  "white": $white,
  "black": $black,
);


/**
 * Spacing
 */

$spacing: .8rem;
$spacings: (
  0: 0,
  1: calc($spacing * 1),
  2: calc($spacing * 2),
  3: calc($spacing * 3),
  4: calc($spacing * 4),
  5: calc($spacing * 5),
  6: calc($spacing * 6),
  7: calc($spacing * 7),
  8: calc($spacing * 8),
);


/**
 * Grid
 */

$grid-breakpoints: (
  sm: 0,
  md: 768px,
  lg: 1200px,
);


/**
 * Container
 */

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1600px,
);


/**
 * Transitions
 */

$trans-duration-base: .2s;
$trans-timing-function-base: ease-in-out;


/**
 * Typography
 */

h1, .h1 {
  font-size: 5.6rem;
  line-height: 1.5;
}

h2, .h2 {
  font-size: 4.8rem;
  line-height: 1.5;
}

h3, .h3 {
  font-size: 4rem;
  line-height: 1.5;
}

h4, .h4 {
  font-size: 3.2rem;
  line-height: 1.5;
}

h5, .h5 {
  font-size: 2.4rem;
  line-height: 1.5;
}

h6, .h6 {
  font-size: 1.6rem;
  line-height: 1.5;
}

p, .p {
  font-size: 1.6rem;
  line-height: 1.5;
}
